.list-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding: 10px;
}

.a-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.f-list table {
    width: 100%;
    border-collapse: collapse;
}

th, .f-list td {
    height: 40px;
    border-radius: 5px;
    padding: 8px;
    transition: background-color 0.3s;
}
th {
    margin: 10px;
    text-align: center;
}

    .f-list td:hover {
        background-color: rgb(4, 4, 4, 0.40);
    }

.theme-toggle .f-list td:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer
}